


body { padding: 50px; 
        
        background-color: white; color:black;
    }
.dark-mode {
		background-color: black;
		color:white;}
h1,h2,h3 {color: black;
          border-bottom: dotted;
          margin: inherit;
          justify-content: left;
        }

nav { display: grid;
	padding-left: 0px;}

img {width:300px;
      height: 200px;
      display: block;
      justify-content: center;
	padding-top: 50px;
      }

div{justify-content: center;}

p{color: black;
  font-family: sans-serif;
  text-align:justify;
  }
ul {text-align: ;
    color: red;
  }
li a {
    color: blue;
	text-align: center;
	display: block;
	padding: 15px;
	}
li a:hover {background-color: #111;}
li { display: grid;
	float: left;}
iframe {width:500px;
        height:800px;
        justify-content: left;}
a {text-align: left;
display: block;}
table {display:grid; justify-content: center;
      color: red;
padding: 50px 50px;
  width:100%;
	height: 100%;}
  tr {height:auto;
  width:auto;
border: 2px solid;}
  th {height: auto;
  width:auto;
border: 2px solid;}
button { padding-top: 0px;}
footer { display: block;
	background-color: pink;}